@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap'); /* font-family: 'Open Sans Condensed', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap'); /* font-family: 'Dancing Script', cursive;*/
@import url('https://fonts.googleapis.com/css2?family=Neucha&display=swap'); /* font-family: 'Neucha', cursive; */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap'); /*font-family: 'Roboto', sans-serif;*/

.back-pane
{
    position: absolute;
    overflow: hidden;
    background-color: white;
    height: 100%;
    width: 100%;
    transition: 1.5s;
}
.back-image
{
    position: absolute;
    filter: blur(4px);
}
.front-pane
{
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    background: linear-gradient(rgba(255, 0, 106, 1),rgba(255, 0, 106, 0.5), rgba(0, 174, 255, 0.5), rgba(0, 174, 255, 1));
    z-index: 1;
}
.front-text
{
    position: absolute;
    width: 100%;
    margin-top: 220px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0);
    z-index: 1;
    font-size: 100px;
    font-family: 'Dancing Script', cursive;
    color: rgb(255, 255, 255);
    /*transition: 2s;*/
}
.head-text
{
    width: 100vw;
    margin-top: 20px;
    margin-bottom: 10px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0);
    z-index: 1;
    font-size: 50px;
    font-family: 'Neucha', cursive;
    font-weight: bold;
    color: rgb(0, 0, 0);
}
.head-text2
{
    width: 100vw;
    margin-top: 100px;
    margin-bottom: 60px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0);
    z-index: 1;
    font-size: 80px;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    color: rgb(85, 85, 85);
    word-spacing: 10px;
}
.head-text3
{
    width: 100%;
    margin-top: 180px;
    margin-bottom: 40px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0);
    z-index: 1;
    font-size: 60px;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    color: rgb(85, 85, 85);
    word-spacing: 10px;
}
.live-cases
{   
    display: inline-block;
    background-color: none;
    
    text-align: center;
    justify-content: space-around;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 10px;
    font-size: 40px;
    font-family: 'Roboto', sans-serif;
    word-spacing: 5px;
    
    color: rgb(216, 32, 124);
}
.live-cases .title
{
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 45px;
    letter-spacing: 2px;
    color: rgba(79, 89, 182, 0.8);
}
.vaccinated
{
    margin-top:20px;
    text-align: center;
    font-size: 40px;
    font-family: 'Open Sans Condensed', sans-serif;
    word-spacing: 5px;
    font-weight: bold;
    color: rgba(79, 89, 182, 0.8);
}
.timing
{
    text-align: center; 
    margin-top:60px;
    font-size: 30px; 
    word-spacing: 3px; 
    font-family: 'Roboto', sans-serif;
    color: gray;
}
.linking
{
    text-align: center; 
    margin-top: 50px;
    font-size: 25px; 
    word-spacing: 3px; 
    font-family: 'Roboto', sans-serif;
    color: gray;
}
.live-updates
{   
    display: inline-block;
    text-decoration: none;
    background-color: rgba(202, 202, 199, 0);
    text-align: center;
    justify-content: space-around;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    font-size: 25px;
    font-family: 'Open Sans Condensed', sans-serif;
    word-spacing: 5px;
    color: rgb(61, 61, 61);
    width: 250px;
    height: 155px;
    overflow-y: scroll;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;     /* Firefox */
}
.live-updates::-webkit-scrollbar 
{
    display: none;
}
.live-updates:hover
{
    text-decoration: none;
}
.live-updates .title
{
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 35px;
}
.donate-btn-div
{
    display:flex;
    width:100%;
    justify-content:center;
    margin-top:80px;
    margin-bottom:140px;
}
.donate-btn
{
    background-color: #528FF0;
    color: white;
    padding: 10px;
    width: 200px;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-weight:bold;
    letter-spacing: 0.5px;
    word-spacing: 5px;
    text-decoration: none;
}
.donate-btn:hover
{
    text-decoration: none;
    color:white;
}
.donate-btn:visited
{
    text-decoration: none;
    color:white;
}